<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="netTiersService" type="ShutterTale.Data.Bases.NetTiersServiceSection, ShutterTale.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <connectionStrings>
    <!--<add name="netTiersConnectionString" connectionString="Data Source=datacenter;Initial Catalog=ShutterTale;Persist Security Info=True;User ID=sa;Password=!Kuzea1309"/>-->
    <add name="netTiersConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=ShutterTale;Integrated Security=True;AttachDBFilename=C:\TFS\ShutterTale\LocalDb\ShutterTale.mdf"/> 

  </connectionStrings>
  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
    *** SqlClient Provider ***
      connectionStringName: sqlclient connection string to the db
      useStoredProcedure: if trueindicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
    -->
      <add name="SqlNetTiersProvider" type="ShutterTale.Data.SqlClient.SqlNetTiersProvider, ShutterTale.Data.SqlClient" connectionStringName="netTiersConnectionString" useStoredProcedure="false" providerInvariantName="System.Data.SqlClient" entityFactoryType="ShutterTale.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" defaultCommandTimeout="30"/>
      <!-- 
        *** WebserviceClient Provider ***
        The url parameter indicates the webservices url (ex: http://localhost/NorthWind/NorthWindServices.aspx)
      <add 
        name="WsNetTiersProvider" 
        type="ShutterTale.Data.WebServiceClient.WsNetTiersProvider, ShutterTale.Data.WebServiceClient"
        url="http://localhost/ShutterTale.NetTiers/"
        />
     -->
    </providers>
  </netTiersService>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>