@{
    ViewBag.Title = "FlickrAccount";
}


<h2>FlickrAccount</h2>

<a href=@ViewBag.AuthUrl title="Authorization" target="_blank">Click here - takes you to flickr validation process. Come back with the token verifier</a>

<form action="~/FlickrRegistration/FlickrAuthorize">
    <table>
        <tr>
            <td>Put here the validator from Flick</td>
            <td><input id="tokenVerifier" type="text" name="tokenVerifier" /></td>

        </tr>
        <tr>
            <td>This email is your login into the services</td>
            <td><input id="email" type="text" name="email" value="@ViewBag.Email" /></td>
        </tr>
    </table>
    <input type="submit" value="Validate" />
</form>