@{
    ViewBag.Title = "Index";
}



<p>
    Login into Flickr!
    <a href="http://www.flickr.com/services/api/keys/" target="_blank">Go to Flickr and apply for a non-commercial API Key.</a>    
    Then copy the two values in the boxes below
    
</p>


<form action="~/FlickrRegistration/FlickrAccount">
    <table>

        <tr>
            <td>Your email</td>
            <td><input id="email" type="text" name="email" /></td>
        </tr>

        <tr>
            <td>Flickr Key</td>
            <td><input id="key" type="text" name="key" /></td>
        </tr>

        <tr>
            <td>Flickr Key Secret</td>
            <td><input id="keySecret" type="text" name="keySecret" /></td>
        </tr>
    </table>
    <input type="submit" value="Continue to validation" />
</form>