<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ShutterTale.Data" type="ShutterTale.Data.Bases.NetTiersServiceSection, ShutterTale.Data"/>
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  
  <ShutterTale.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!-- 
				*** WebserviceClient Provider ***
				The url parameter indicates the webservices url (ex: http://localhost/ShutterTale/ShutterTaleServices.aspx)
        		-->
				<add 
					name="WsNetTiersProvider" 
					type="ShutterTale.Data.WebServiceClient.WsNetTiersProvider, ShutterTale.Data.WebServiceClient"
					url="http://localhost/ShutterTale.NetTiers/ShutterTaleServices.asmx" />
	
    </providers>
  </ShutterTale.Data>



</configuration>