<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <Maps xdt:Transform="Replace">
    <map name="Road" mapType="Road">
      <bingRoad/>
    </map>
    <map name="Hybrid" mapType="Hybrid">
      <bingHybrid/>
    </map>
    <map name="Aerial" mapType="Aerial">
      <bingAerial/>
    </map>

    <!-- Following is an example of how to enable the Google Earth enterprise MapLayers -->
    <!--
    <map name="Road" mapType="Hybrid">
      <googleServerImagery machineName="telekad-earthserver" defaultMap="default_map" channel="1010" version="1"/>      
      <googleServerVectorRaster name="OntarioRoads" machineName="telekad-earthserver" defaultMap="default_map" channel="1009" version="9"/>
    </map>
    <map name="Hybrid" mapType="Hybrid">
      <googleServerImagery machineName="telekad-earthserver" channel="1010" version="1"/>
      <googleServerVectorRaster name="OntarioRoads" machineName="telekad-earthserver" defaultMap="default_map" channel="1009" version="9"/>      
    </map>
    <map name="Aerial" mapType="Aerial">
      <googleServerImagery machineName="telekad-earthserver" channel="1010" version="1"/>
    </map>
    -->

    <!-- Following is the explicit complete parameterized configuration that is enablign ALL the MapLayers supported at this point by our MapLayerAdapter-->
    <!--<map name="bingRoad" mapType="Road">
      <bingRoad 
        cacheTilesFolder="C:\tilecache\bingRoad" 
        url="http://t{0}.tiles.virtualearth.net/tiles/r{1}.png?g=244&amp;token={2}" 
        applicationId="AmdSFgu2R1Vpb9-vYmfQ_F9tnnxS_ZC7GUequ0Y-PyqJnOO00L7n_ZmeJeKsfJGS"/>
    </map>

    <map name="bingHybrid" mapType="Hybrid">
      <bingHybrid url="http://t{0}.tiles.virtualearth.net/tiles/h{1}.png?g=244&amp;token={2}" applicationId="AmdSFgu2R1Vpb9-vYmfQ_F9tnnxS_ZC7GUequ0Y-PyqJnOO00L7n_ZmeJeKsfJGS"/>
    </map>

    <map name="bingAerial" mapType="Aerial">
      <bingAerial url="http://t{0}.tiles.virtualearth.net/tiles/a{1}.png?g=244&amp;token={2}" applicationId="AmdSFgu2R1Vpb9-vYmfQ_F9tnnxS_ZC7GUequ0Y-PyqJnOO00L7n_ZmeJeKsfJGS"></bingAerial>
    </map>

    <map name="GE Hybrid" mapType="Hybrid">
      <googleServerImagery url="http://{5}/{6}/query?request=ImageryMaps&amp;channel={3}&amp;version={4}&amp;x={0}&amp;y={1}&amp;z={2}"
                           defaultMap="default_map"
                           machineName="telekad-earthserver"
                           channel="1010"
                           version="1"/>
      <googleServerVectorRaster name="OntarioRoads" url="http://{5}/{6}/query?request=VectorMapsRaster&amp;channel={3}&amp;version={4}&amp;x={0}&amp;y={1}&amp;z={2}"
                                   defaultMap="default_map"
                                   machineName="telekad-earthserver"
                                   channel="1009"
                                   version="9"/>    
    </map>

    <map name="GE Aerial" mapType="Aerial">
      <googleServerImagery machineName="telekad-earthserver" defaultMap="default_map" channel="1010" version="1"/>
    </map>

    <map name="OpenStreet" mapType="Road">
      <openStreet name="Background" url="http://{0}.tile.openstreetmap.org/{1}/{2}/{3}.png%20HTTP/1.1" refererUrl="http://www.openstreetmap.org/"/>
    </map>

    <map name="OpenStreetOSM" mapType="Road">
      <openStreetOsm name="Background" url="http://{0}.tah.openstreetmap.org/Tiles/tile/{1}/{2}/{3}.png%20HTTP/1.1" refererUrl="http://www.openstreetmap.org/"/>
    </map>

    <map name="OpenCycle" mapType="Road">
      <openCycle url="http://{0}.tile.opencyclemap.org/cycle/{1}/{2}/{3}.png%20HTTP/1.1" refererUrl="http://www.opencyclemap.org/"/>
    </map>

    <map name="OviRoad" mapType="Road">
      <oviRoad url="http://{3}.maptile.maps.svc.ovi.com/maptiler/v2/maptile/newest/normal.day/{0}/{1}/{2}/256/png" refererUrl="http://maps.ovi.com/"/>
    </map>

    <map name="OviTerrain" mapType="Road">
      <oviTerrain url="http://{3}.maptile.maps.svc.ovi.com/maptiler/v2/maptile/newest/terrain.day/{0}/{1}/{2}/256/png" refererUrl="http://maps.ovi.com/"/>
    </map>

    <map name="OviSatellite" mapType="Aerial">
      <oviSatellite url="http://{3}.maptile.maps.svc.ovi.com/maptiler/v2/maptile/newest/satellite.day/{0}/{1}/{2}/256/png" refererUrl="http://maps.ovi.com/"/>
    </map>

    <map name="OviHybrid" mapType="Hybrid">
      <oviHybrid url="http://{3}.maptile.maps.svc.ovi.com/maptiler/v2/maptile/newest/hybrid.day/{0}/{1}/{2}/256/png" refererUrl="http://maps.ovi.com/"/>
    </map>

    <map name="GoogleRoad" mapType="Road">
      <googleRoad url="http://mt{3}.google.com/vt/lyrs=m@161000000&amp;hl=en&amp;x={0}&amp;y={1}&amp;z={2}&amp;s=G%20HTTP/1.1" refererUrl="http://maps.{0}/" refererMagicWord="zOl/KnHzebJUqs6JWROaCQ=="/>
    </map>

    <map name="GoogleSatellite" mapType="Aerial">
      <googleSatellite url="http://khm{3}.google.com//kh/v=93&amp;hl=en&amp;x={0}&amp;y={1}&amp;z={2}&amp;s=Galil HTTP/1.1" refererUrl="http://maps.{0}/" refererMagicWord="zOl/KnHzebJUqs6JWROaCQ=="/>
    </map>

    <map name="GoogleHybrid" mapType="Hybrid">
      <googleSatellite  url="http://khm{3}.google.com//kh/v=93&amp;hl=en&amp;x={0}&amp;y={1}&amp;z={2}&amp;s=Galil HTTP/1.1" refererUrl="http://maps.{0}/" refererMagicWord="zOl/KnHzebJUqs6JWROaCQ=="/>
      <googleLabel url="http://mt{3}.google.com/vt/lyrs=h@161000000&amp;hl=en&amp;x={0}&amp;y={1}&amp;z={2}&amp;s=Galile HTTP/1.1" refererUrl="http://maps.{0}/" refererMagicWord="zOl/KnHzebJUqs6JWROaCQ=="/>
    </map>

    <map name="YahooRoad" mapType="Road">
      <yahooRoad url="http://maps{0}.yimg.com/hx/tl?ard=1&amp;v=4.3&amp;.intl=en&amp;x={1}&amp;y={2}&amp;z={3}&amp;r=1%20HTTP/1.1" refererUrl="http://maps.yahoo.com/" />
    </map>

    <map name="YahooSatellite" mapType="Aerial">
      <yahooSatellite url="http://maps{0}.yimg.com/ae/ximg?v=1.9&amp;t=a&amp;s=256&amp;.intl=en&amp;x={1}&amp;y={2}&amp;z={3}&amp;r=1%20HTTP/1.1" refererUrl="http://maps.yahoo.com/"/>
    </map>

    <map name="YahooHybrid" mapType="Hybrid">
      <yahooSatellite url="http://maps{0}.yimg.com/ae/ximg?v=1.9&amp;t=a&amp;s=256&amp;.intl=en&amp;x={1}&amp;y={2}&amp;z={3}&amp;r=1%20HTTP/1.1" refererUrl="http://maps.yahoo.com/"/>
      <yahooLabel url="http://maps{0}.yimg.com/hx/tl?v=4.3&amp;t=h&amp;.intl=en&amp;x={1}&amp;y={2}&amp;z={3}&amp;r=1%20HTTP/1.1" refererUrl="http://maps.yahoo.com/"/>
    </map>

    <map name="ESRI Streets" mapType="Road">
      <arcGISWorldStreetMap url="http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{0}/{1}/{2}" />
    </map>

    <map name="ESRI Topo" mapType="Road">
      <arcGISWorldTopoMap url="http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{0}/{1}/{2}" />
    </map>   
  
    <map name="Debug" mapType="Debug">
      <debugMap/>
    </map>-->

  </Maps>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>